.App {
    text-align: center;
    background-color: #f0f2f5;
    min-height: 100vh;
}

.App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
}

.app-card {
    margin: 20px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
